RewriteEngine On
RewriteRule ^(assets-site|assets-user|css|images-site|images-user|js|ckeditor|index.php)($|/) - [L]
RewriteRule ^/?([a-zA-Z_/0-9\.:]+)$ index.php?route=$1 [L]
php_value upload_max_filesize 140M
php_value post_max_size 142M