

.cal-container
{
    
}

.cal-header
{
    padding-bottom:5%;
    text-align: center;
    font-size: 2.5em;
}

.cal-header a
{
    font-size: 0.7em;
    margin-top: 1em;
}

.cal-header a:first-of-type
{
    float: left;
}
.cal-header a:last-of-type
{
    float: right;
}


.cal-weeks
{
    width: 12.5%;
    display:inline-block;
    float:left;
}
.cal-days
{
    width: 87.5%;
    display:inline-block;
    float:left;
}


.cal-cell
{
    display: block;
    width: 14.2857%;
    padding-bottom:7.142857%;
    font-size:1.5rem;
    border: 1px #303030 solid;
    position:relative;
    float:left;
}

.cal-week-cell{
    display: block;
    width: 100%;
    padding-bottom: 50%;
    font-size:1.5rem;
    border: 1px #303030 solid;
    position:relative;
    float:left;
    text-align:center;
    line-height:2.35em;
}

.cal-week-cell a
{
    
    width:100%;
    height:100%;
    position:absolute;
    margin-left:0;
    line-height:2;
}

.cal-cur, .cal-prev, .cal-today, .cal-next
{
    
    text-align:center;
    line-height:2.35;
}

.cal-cur
{
    font-weight: bold;
}
.cal-cellr:hover, .cal-cell:active
{
    box-shadow: inset 3px 3px 2px 2px #2060A0, inset -3px -3px 2px 2px #2060A0;
}

.cal-prev,.cal-next
{
    font-style: italic;
    color: #308030;
}

.cal-today
{
    box-shadow: inset 6px 6px red, inset -6px -6px red;
    font-weight: bold;
}


.cal-cell span
{
    
    width:100%;
    height:100%;
    position:absolute;
    margin-left:0;
    pointer-events: none;
    line-height:2;
}
.center_because_css_sucks
{
    width: auto !important;
    height: auto !important;
    display:inline-block;
    top:50%;
    left:50%;
    transform:  translateX(-50%) translateY(-50%);
}
.cal-cell a
{
    
    width:100%;
    height:100%;
    position:absolute;
    margin-left:0;
    line-height:2;
}

.cal-event-generic
{
    box-shadow: inset 0px 8px 0px 0px #2060A0;
}




.cal-event-adm
{
    box-shadow: inset 0px -8px 0px 0px #20A060;
    
}

.cal-event-items
{
    color: red;
}




.cal-span
{
    background-color: #004F00;
}

.cal-week-title
{
    font-size: 3em;
    text-align: center;
    padding: 0;
    margin-bottom:0;
}

.cal-weekview
{
    min-height:70vh;
    position:relative;
}

.cal-week-header-wrapper
{
    display:block;
    position:sticky;
    top:0;
    width:100%;
    height:1em;
}

.cal-week-header
{
    width: 13%;
    display:inline-block;
    text-align:center;
    position:relative;
    box-sizing:border-box;
    az-index:1;
    height:75vh;
    border-right: 1px #207040 solid;
    border-left: 1px #207040 solid;
    padding-top: 0.3em;
    pointer-events: none;
}

.cal-day-label
{
    background-color: #101010;
    border: 1px solid #207040;
    border-radius: 2px;
    padding:2px;
    box-sizing:border-box;
}

.cal-week-header.cal-week-monday
{
    margin-left:3em;
}

.cal-week-header.cal-week-blueday
{
    color:red;
}

.cal-week-header.cal-week-redday
{
    color:red;
}
.cal-week-header a
{
    pointer-events: all;
}

.cal-week-agenda-bg
{
    
    height: 100%;
    width:100%;
    position:absolute;
    left:0;
    display:inline-block;
    overflow: auto;
}
.cal-week-timegrid
{
    display: inline-block;
    position:absolute;
    box-shadow: inset 0px 1px 0px 0px #207040;
    height: 2em;
    width: 100%;
}
.cal-week-timegrid:nth-child(odd)
{
    background-color: #202620;
}
.cal-week-weekgrid
{
    
}

.cal-week-event
{
    width: 13%;
    position:absolute;
    top: 0;
    background-color: #004F00;
    min-height: 1em;
    padding: 0.3em;
    box-sizing: border-box;
}
.cal-week-event a
{
    position:absolute;
    height: 100%;
    width: 100%;
    
}

.cal-week-marker
{
    width: 13%;
    position:absolute;
    top: 0;
    height: 2.2em;
    border: red solid 3px;
}

/****
TODO: MOVE TO OTHER CSS DUH

*/

.ticket-filelink
{
    font-size:0.9em;
    font-family:monospace;
}